<%- include("partials/header") %>
<link rel="stylesheet" href="/styles.css">

<div class="container">

  <h2>Generation <%= numero %></h2>

  <ul>
    <% if (Array.isArray(sukupolvi)) { %>
      <% sukupolvi.forEach(p => { %>
        <li>
          <a href="/pokemon/<%= p.name %>">
            <%= p.name %>
          </a>
        </li>
      <% }) %>
    <% } %>
  </ul>

</div>

<%- include("partials/footer") %>